:root {
  --cor-texto-principal: #0b254b;
  --cor-texto-secundario: #5e6e89;
  --cor-texto: #efefef;
  --fonte-texto: "Poppins", sans-serif;
  --fonte-titulo: "Orbitron", sans-serif;

  --cor-links: #090129;

  --cor-destaque-principal: #ff55df;
  --cor-destaque-secundario: #8fff24;

  --cor-fundo-botao: #780bf7;

  --cor-de-fundo: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

main {
  width: 100%;
}
